body {
  margin: 0;
  font-family: Arial;
  background: #ece5dd;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #128c7e;
  color: white;
  padding: 10px;
  text-align: center;
}

.chatBox {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  max-width: 60%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  animation: fade 0.3s;
}

.mentor {
  background: #d1e7ff;
  align-self: flex-end;
}

.student {
  background: #e2ffe2;
  align-self: flex-start;
}

.inputBox {
  display: flex;
  padding: 10px;
  background: white;
}

.inputBox input {
  flex: 1;
  padding: 10px;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
